body {
  margin: 0;
  box-sizing: border-box;
}
.nav {
  position: sticky;
  top: 0;
  left: auto;
  background-color: rgba(68, 68, 228, 0.959);
  
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: auto;
  padding: 10px;
  z-index: 2;
}

img {
  margin: 10px;
}
.nav h2 {
  color: #fff;
  margin-left: 50px;
}

@media only screen and (max-width: 766.98px) {
  .nav h2 {
    font-size: 20px;
  }
}

main {
  margin: 100px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
@media only screen and (max-width: 766.98px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
  }
}
.about {
  margin-bottom: 50px;
}
.social,
.logo,
.first-column,
.second-column,
.third-column {
  display: flex;
  justify-content: center;
}

.logo img {
  width: 50px;
}

.logo a {
  text-decoration: none;
}
.logo h2:hover {
  color: rgb(0, 118, 252);
}
.social img {
  width: 50px;
}
@media only screen and (max-width: 766.98px) {
  .social img {
    width: 20px; /*<-- Htio bih na manjim ekranima smanjiti veliÄinu social media ikonica*/
  }
}
.flex-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
@media only screen and (max-width: 766.98px) {
  .flex-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
  }
}

.first-column,
.second-column,
.third-column {
  flex-direction: column;
}
.service {
  max-width: 100%;
  color: #ffffffbb;
  background-color: rgba(68, 68, 228, 0.959);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}
@media only screen and (max-width: 766.98px) {
  .service {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.service-img {
  margin: 100px 0;
  width: 250px;
  height: 200px;
}
.service-img:last-of-type {
  z-index: 2;
}
.service-img:first-of-type {
  position: absolute;
  top: 150px;
  left: 450px;
  z-index: 1;
}

@media only screen and (max-width: 766.98px) {
  .service-img:first-of-type,
  .service-img:last-of-type {
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    top: auto;
    left: auto;
  }
}
.telephone {
  text-decoration: none;
}
.telephone:hover {
  color: rgb(0, 118, 252);
  cursor: pointer;
}

h1,
.service h2 {
  margin-bottom: 50px;
  text-decoration: underline;
  text-decoration-color: rgba(7, 7, 236, 0.959);
  text-underline-offset: 0.5em;
}
